/* CDN Fonts */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

/* CSS Variables */
:root {
  --font-ko-main: 'Pretendard', sans-serif;
  --font-ko-sub: 'Pretendard', sans-serif;
  --font-en-main: 'Oooh Baby', sans-serif;
  --color-primary: #FFFFFF;
  --color-secondary: #442727;
}