/* CDN Fonts */
@import url('https://fonts.cdnfonts.com/css/noto-serif-kr');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

/* Font Faces */
@font-face {
  font-family: 'Escoredream';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

/* CSS Variables */
:root {
  --font-ko-main: 'Escoredream', sans-serif;
  --font-ko-sub: 'Noto Serif KR', sans-serif;
  --font-en-main: 'Oooh Baby', sans-serif;
  --color-primary: #FFFFFF;
  --color-secondary: #442727;
}